(ref-ams-configuration)=
# AMS configuration

The Anbox Management Service (AMS) provides various configuration items to customize its behavior. The following table lists the available configuration items and their meaning.

| Name<br/>*(Type, Default)* | Description           |
|-----|-----------------------|
{%- for key, config in configs.items() %}
| `{{ key }}`<br/>*({{ config.type }}, {{ config.default or "N/A"}})*{% if config.x_deprecated_since %}<br/>*(Deprecated in {{ config.x_deprecated_since }})*{% endif %}  | {{ config.description }}{% if config.x_docs_ref %} See {ref}`{{ config.x_docs_ref }}`. {% endif %}|
{%- endfor %}

(sec-node-configuration)=
## Node-specific configuration

In a cluster setup, there are configuration items that can be customized for each node. The following table lists the available configuration items and their meaning.

| Name<br/>*(Type, Default)* |  Description            |
|--------------------------|-------------------------|
{%- for key, node in nodes.items() %}
| `{{ key }}`<br/>*({{ node.type }})*{% if node.x_deprecated_since %}<br/>*(Deprecated in {{ node.x_deprecated_since }})*{% endif %}   | {{ node.description }} {% if node.x_docs_ref %} See {ref}`{{ node.x_docs_ref }}`. {% endif %}|
{%- endfor %}

See {ref}`howto-configure-cluster-nodes` for instructions on how to set these configuration items.

## Objects managed by AMS

AMS manages various objects such as applications, images, instances, nodes and addons.

The object names must adhere to the following criteria:

* Minimum character limit: 3
* Maximum character limit: 255
* Can contain:
  - Alphabets (a-z, A-Z)
  - Numbers (0-9)
  - Allowed special characters: `-` (hyphen), `_` (underscore), `:` (colon), `.` (period).

When you create an instance, the same criteria apply to the following options as well:

* `boot_activity`
* `platform`
* `boot_package`

The object ids are generated by AMS and have a length of 20 characters.
